/* shared styles */

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.text-center{
  text-align: center;
}



/* intro section styling */
.my-intro{
  background-image: url(../assets/Hero-bg.png);
  
}


/* motive section styling */
.my-motive{
 
}

.layers{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

/* inspiration sec styling */
.my-inspiration{
 
}


/* target sec styling */
.target-contents{
  display: flex;
  justify-content: space-around;
}

/* communication sec styling */
.communication{
  background-image: url(../assets/handshake.jpg);
}