/* shared styles */

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.heading-description{
  font-weight: 16px;
  line-height: 26px;
}
.text-center{
  text-align: center;
}
.section-heading{
  font-weight: bolder;
  font-size: 32px;
}
.anchor-tag{
  /* text-decoration: none; */
  font-size: 16px;
  font-weight: bold;
  color: #0D1321;
}



/* intro section styling */
.opening-heading{
  font-size: 48px;
  font-weight: bolder;
  line-height: 68px;
}
.my-intro{
  background-image: url(../assets/Hero-bg.png);
  /* margin: 30px 220px; */
  margin-top: 5px;
  padding: 30px 220px;
  
}
.content{
  padding: 0px 30px;
}
#first-button{
  text-decoration: none;
}
.contact-btn{
  padding: 5px;
  background-color: #0D1321;
  font-size: 20px;
  font-weight: 400px;
  color: #FFFFFF;
  border-radius: 5px;
  
  
}


/* motive section styling */
.my-motive{
  background-color: #fafafb;
  margin: 85px 150px;
  padding: 80px 97px;
  border-radius: 16px;
}
h5{
  font-weight: bold;
  font-size: 24px;
}

.layers{
  background-color: #FFFFFF;
  line-height: 26px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 20px 100px;
}
button{
  padding: 5px;
}

/* inspiration sec styling */
.inspiration-heading{
  padding: 0px 144px 40px 144px;
}
.my-inspiration{
  margin: 0px 150px;
 
}
iframe{
border-style: solid;
  border-radius: 16px;
}


/* target sec styling */
.current-target{
  margin: 85px 150px;
}
.target-contents{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 190px;
}
.heading-description{
  padding: 0px 144px 40px 144px;
}
.content-description{
line-height: 26px;
font-weight: 16px;
padding: 20PX;
border-radius: 16px;
text-align: justify;
}
.first-content{
  background-color: #FFF6F4;
}
.second-content{
  background-color: #F2F6FE;
}
.third-content{
  background-color: #FFFDF2
}


/* communication sec styling */
.communication-container{
  background-image: url(../assets/handshake.jpg);
  margin: 0px 150px 20px 150px;
  border-radius: 16px;
}
/* footer styling */
.communication-container{
  padding: 20px 30px;
}
.communication-heading{
  color: #FFFFFF;
}
/* body footer styling */
.portfolio-icons{
  /* height: 5px;
  max-width: fit-content; */
  padding: 0px 150px;
  background-color: azure;
  display: flex;
  justify-content: space-between;
}
.input-part{
  padding: 5px;
  border-radius: 5px;
}
/* footer styling */
ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}
ul li{
  margin-right: 32px;
}
.last-footer{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.last-written-content{
  font-size: 20px;
  font-weight: 400;
}
