/* shared styles */

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.text-center{
  text-align: center;
}
.section-heading{
  font-weight: bolder;
  font-size: 32px;
}
.anchor-tag{
  /* text-decoration: none; */
  font-size: 16px;
  font-weight: bold;
  color: #0D1321;
}



/* intro section styling */
.opening-heading{
  font-size: 48px;
  font-weight: bolder;
  line-height: 68px;
}
.my-intro{
  background-image: url(../assets/Hero-bg.png);
  /* margin: 30px 220px; */
  margin-top: 5px;
  padding: 30px 220px;
  
}
.content{
  padding: 0px 30px;
}
#first-button{
  text-decoration: none;
}
.contact-btn{
  padding: 5px;
  background-color: #0D1321;
  font-size: 20px;
  font-weight: 400px;
  color: #FFFFFF;
  border-radius: 5px;
  
  
}


/* motive section styling */
.my-motive{
  background-color: #fafafb;
  margin: 85px 150px;
  padding: 80px 97px;
}

.layers{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 45px 45px;
}

/* inspiration sec styling */
.my-inspiration{
  margin: 0px 150px;
 
}
.video-part{
/* border-style: solid;
  border-radius: 5px; */
}


/* target sec styling */
.current-target{
  margin: 85px 150px;
}
.target-contents{
  display: flex;
  justify-content: space-around;
}

/* communication sec styling */
.communication{
  background-image: url(../assets/handshake.jpg);
  margin: 0px 150px 40px 150px;
}
/* footer styling */
.portfolio-icons{
  /* height: 5px;
  max-width: fit-content; */
  padding: 0px 150px;
  background-color: azure;
  display: flex;
  justify-content: space-between;

}
ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}
ul li{
  margin-right: 32px;
}
.last-footer{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.last-written-content{
  font-size: 20px;
  font-weight: 400;
}
